################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MESACCA/MESACCA/obj/Release
/MESACCA/MESACCA/Properties/PublishProfiles
/MESACCA/MESACCA/obj/Debug
/MESACCA/MESACCA/bin
/MESACCA/MESACCA/Properties
/MESACCA/MESACCA/Scripts/obj/Release/CSAutoParameterize
/MESACCA/MESACCA/Scripts/obj
/MESACCA/MESACCA/.vs
/MESACCA/MESACCA/*.csproj
/MESACCA/MESACCA/*.csproj*
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/en-gb.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/el.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/de.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/de-ch.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/da.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/cy.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/cs.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/ca.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/bg.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/ar.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/af.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/zh.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/zh-cn.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/vi.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/uk.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/ug.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/tt.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/tr.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/th.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/sv.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/sr.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/sr-latn.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/sq.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/sl.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/sk.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/si.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/ru.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/ro.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/pt.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/pt-br.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/pl.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/no.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/nl.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/nb.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/mn.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/mk.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/lv.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/lt.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/ku.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/ko.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/km.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/ja.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/it.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/id.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/hu.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/hr.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/hi.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/he.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/gu.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/gl.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/fr.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/fr-ca.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/fo.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/fi.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/fa.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/eu.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/et.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/es.js
/MESACCA/MESACCA/ckeditor/plugins/a11yhelp/dialogs/lang/eo.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/en-gb.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/el.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/de.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/de-ch.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/da.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/cy.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/cs.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/ca.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/bg.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/ar.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/af.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/_translationstatus.txt
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/zh.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/zh-cn.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/vi.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/uk.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/ug.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/tt.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/tr.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/th.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/sv.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/sq.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/sl.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/sk.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/si.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/ru.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/pt.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/pt-br.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/pl.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/no.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/nl.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/nb.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/lv.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/lt.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/ku.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/ko.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/km.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/ja.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/it.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/id.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/hu.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/hr.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/he.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/gl.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/fr.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/fr-ca.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/fi.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/fa.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/eu.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/et.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/es.js
/MESACCA/MESACCA/ckeditor/plugins/specialchar/dialogs/lang/eo.js
/MESACCA/MESACCA/ckeditor/samples/old
