@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "File Upload";
}
<h2>File Upload</h2>
@if (ViewBag.Message != null)
{
    <span>@ViewBag.Message</span>
}
@using (Html.BeginForm("PictureTest", "Member", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" ID ="File" name="File" />
    <input type="submit" value="Upload" />
}