
<div class="divide20"></div>
<footer id="footer" style="background-color: #EEEEEE;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>About the MCCA</h3>
                    <p>
                        The MESA Capitol Corridor Alliance (MCCA) is a group of centers within one of the regions of the
                        MESA Statewide program. The MESA Statewide program serves educationally and financially
                        under-served students with the overarching goal to increase participation of those students in
                        the Science, Technology, Engineering and Math professions.
                    </p>
                    <ul class="list-inline footer-social">
                        <li>
                            <a href="https://www.facebook.com/MesaUsa/" target="_blank" class="social-icon si-dark si-gray-round si-colored-facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/mesastem" target="_blank" class="social-icon si-dark si-gray-round si-colored-twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Contact</h3>
                    <ul class="list-unstyled contact">
                        <li>
                            <p>
                                <strong><i class="fa fa-map-marker"></i> Address:</strong>
                                <br>MESA Engineering Program
                                <br>California State University, Sacramento
                                <br>6000 J Street, Santa Clara Hall, Room 1213
                                <br>Sacramento, CA 95819
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">
                                    directors@mcca
                                    .com
                                </a>
                            </p>
                        </li>
                        <li><p><strong><i class="fa fa-phone"></i> Phone:</strong> (916) 278-6699</p></li>
                    </ul>
                </div>
            </div>
            <!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Our Sponsors</h3>
                    <ul class="list-inline f2-work">
                        <li>
                            <a href="http://mesausa.org/" target="_blank">
                                <img src="~/images/mesa_usa_web_logo.gif" alt="MESA USA" class="img-responsive">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>News</h3>
                    @Html.ActionLink("View the latest news from the MCCA!", "News", "Home")
                </div>
            </div>
            <!--footer col-->
        </div>
    </div>
</footer>
