<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/Content/bootstrap.css" />
        <link rel="stylesheet" href="~/Content/bootstrap-table.min.css" />
        <link rel="stylesheet" href="~/Content/Site.css" />
        <link rel="stylesheet" href="~/Content/css/admin.css" />
        <link rel="stylesheet" href="~/Content/css/dropzone.css" />
        <link rel="stylesheet" href="~/Content/css/frontend.css" />
        <link rel="stylesheet" href="~/Content/css/lity.min.css" />
        <link rel="stylesheet" href="~/Content/css/rev-style.css" />
        <link rel="stylesheet" href="~/Content/css/setting.css" />
        <link rel="stylesheet" href="~/Content/css/style.css" />
        <link rel="stylesheet" href="~/Content/css/yamm.css" />
        <link rel="stylesheet" href="~/Content/css/sweetalert.css" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/Content/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/Content/bootstrap-table.min.css" />
        <link rel="stylesheet" href="~/Content/Site.css" />
        <link rel="stylesheet" href="~/Content/css/admin.css" />
        <link rel="stylesheet" href="~/Content/css/dropzone.css" />
        <link rel="stylesheet" href="~/Content/css/frontend.css" />
        <link rel="stylesheet" href="~/Content/css/lity.min.css" />
        <link rel="stylesheet" href="~/Content/css/rev-style.css" />
        <link rel="stylesheet" href="~/Content/css/setting.css" />
        <link rel="stylesheet" href="~/Content/css/style.css" />
        <link rel="stylesheet" href="~/Content/css/yamm.css" />
        <link rel="stylesheet" href="~/Content/css/sweetalert.css" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    </environment>
</head>

