@{
    ViewBag.Title = "Collaborations";
}


<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>

    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://mccablob.blob.core.windows.net/mccablob/mesaExample.jpg" height="360" alt="Students" class="img-responsive" style="width:100%" />
            <div class="carousel-caption">
                
            </div>
        </div>

        <div class="item">
            <img src="https://mccablob.blob.core.windows.net/mccablob/innout.jpg" height="360" alt="Another cheeseburger" class="img-responsive" style="width:100%;" />
        </div>

        <div class="item">
            <img src="https://mccablob.blob.core.windows.net/mccablob/pizza.jpg" height="360" alt="Pizza" class="img-responsive" style="width:100%;" />
        </div>
    </div>
</div>

<div class="divide60"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="center-heading">
                <h2>MESA Collaborations</h2>
                <span class="center-line"></span>
                <p class="sub-text margin40">
                    Together, we achieve more. Here are some of our current and future joint projects.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Current</th>
                <th>Future</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ARC, CRC, and SCC collaborate on end-of-year awards reception.</td>
                <td>ARC, CRC, and SCC and SSU jointly collaborate on a MESA transfer day</td>

            </tr>
            <tr>
                <td>ARC, CRC, and SCC collaborate on Los Rios Professional Development Program</td>
                <td>Future grant writing proposals (MESA Alliance)</td>
            </tr>
            <tr>
                <td>ARC, CRC, and SCC and UOP collaborate on University of the Pacific transfer day</td>
                <td>MCCA College Day for all MSP students</td>
            </tr>
            <tr>
                <td>ARC, CRC, and SCC jointly write annual scholarship grants to Teichert Foundation, Alta Vista Solutions</td>
                <td>MCCA Summer Math Program for all MSP students</td>
            </tr>
            <tr>
                <td>ARC, CRC, and SCC jointly write annual scholarship grants to Alta Vista Solutions</td>
                <td>MCCA Community Service Program</td>
            </tr>
            <tr>
                <td>ARC, CRC, SCC collaborate on student travel to STEM conferences</td>
                <td>MCCA Professional Development Program</td>
            </tr>
            <tr>
                <td>ARC, CRC, SCC collaborate on UCD STEM Transfer Day</td>
                <td>MCCA Alumni Network</td>
            </tr>
            <tr>
                <td>ARC, CRC, SCC collaborate UCB Engineering Day for Community College Students</td>
                <td>Sacramento Promise Zone</td>
            </tr>
            <tr>
                <td>ARC, CRC, and SCC collaborate on annual Student leadership Retreat in Santa Cruz</td>
                <td></td>
            </tr>
            <tr>
                <td>ARC, CRC, and SCC collaborate on MESA Statewide Student Leadership conference in Santa Clara</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>



