@model List<MESACCA.Models.Center>
@{
    ViewData["Title"] = "MCCA Members";
    String centerName;
    String centerAddress;
    String centerLocation;
    String centerDirector;
    String centerOfficeNumber;
    String centerURL;
    String centerImageURL;
    String centerDescription;
}

@*<h2 style="padding-top:120px;">MCCA Centers</h2>*@
@*This section shows the three levels of MESA above the various MESA center icons*@
<section class="levels" style="padding-top:20px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-heading">
                    <h2>The Levels Of <strong>Mesa</strong></h2>
                    <span class="center-line"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn animated" data-wow-duration="700ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 100ms; animation-name: fadeIn;">
                    <div class="services-box-icon">
                        <i class="fa fa-child"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Pre-College</h4>
                        <p>
                            The MESA Schools Program (MSP) assists students at middle and senior high schools (and some elementary schools) to
                            excel in math and science and become competitively eligible for academically rigorous colleges and universities.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn animated" data-wow-duration="700ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 200ms; animation-name: fadeIn;">
                    <div class="services-box-icon">
                        <i class="fa fa-male"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Community College</h4>
                        <p>
                            The MESA Community College Program (MCCP) supports students to successfully transfer to four-year universities in science,
                            technology, engineering and math (STEM) majors.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn animated" data-wow-duration="700ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 300ms; animation-name: fadeIn;">
                    <div class="services-box-icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>University</h4>
                        <p>
                            The MESA Engineering Program (MEP) supports educationally disadvantaged students to attain four-year degrees in engineering or computer science.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
        </div><!--services row-->
    </div>
</section>
<div class="container">
    @*School programs*@
    <h4 style="margin-top:20px">Pre-College - MSP</h4>
    @*Line across page*@
    <hr color="black" />
    <div class="row" style="margin-top:20px;">
        @foreach (var item in Model)
        {
            if (item.CenterType.ToString().Equals("MSP") == true)
            {
                centerName = item.Name;
                centerAddress = item.Address;
                centerLocation = item.Location;
                centerDirector = item.DirectorName;
                centerOfficeNumber = item.OfficeNumber;
                centerURL = item.URL;
                centerImageURL = item.ImageURL;
                centerDescription = item.Description;
                <div class="col-md-4" style="margin-top:20px;">
                    <a href=@centerURL target="_blank">
                        <div style="border:1px solid gray;height:500px;text-align:center;padding:10px;">
                            <img src=@centerImageURL height="192" width="186" />
                            <br />@centerName
                            <br />@centerAddress
                            <br />@centerLocation
                            <br />Director: @centerDirector
                            <br />Office Number: @centerOfficeNumber
                            <br />@centerURL
                            <br />@centerDescription
                        </div>
                    </a>
                </div>
            }
        }
    </div>
    @*Community colleges*@
    <h4 style="margin-top:20px">Community College - MCCP</h4>
    @*Line across page*@
    <hr color="black" />
    <div class="row" style="margin-top:20px;">
        @foreach (var item in Model)
        {
            if (item.CenterType.ToString().Equals("MCCP") == true)
            {
                centerName = item.Name;
                centerAddress = item.Address;
                centerLocation = item.Location;
                centerDirector = item.DirectorName;
                centerOfficeNumber = item.OfficeNumber;
                centerURL = item.URL;
                centerImageURL = item.ImageURL;
                centerDescription = item.Description;
                <div class="col-md-4" style="margin-top:20px;">
                    <a href=@centerURL target="_blank">
                        <div style="border:1px solid gray;height:500px;text-align:center;padding:10px;">
                            <img src=@centerImageURL height="192" width="186" />
                            <br />@centerName
                            <br />@centerAddress
                            <br />@centerLocation
                            <br />Director: @centerDirector
                            <br />Office Number: @centerOfficeNumber
                            <br />@centerURL
                            <br />@centerDescription
                        </div>
                    </a>
                </div>
            }
        }
    </div>
    @*Universities*@
    <h4>University - MEP</h4>
    @*Line across page*@
    <hr color="black" />
    <div class="row" style="margin-top:20px;">
        @foreach (var item in Model)
        {
            if (item.CenterType.ToString().Equals("MEP") == true)
            {
                centerName = item.Name;
                centerAddress = item.Address;
                centerLocation = item.Location;
                centerDirector = item.DirectorName;
                centerOfficeNumber = item.OfficeNumber;
                centerURL = item.URL;
                centerImageURL = item.ImageURL;
                centerDescription = item.Description;
                <div class="col-md-4" style="margin-top:20px;">
                    <a href=@centerURL target="_blank">
                        <div style="border:1px solid gray;height:500px;text-align:center;padding:10px;">
                            <img src=@centerImageURL height="192" width="186" />
                            <br />@centerName
                            <br />@centerAddress
                            <br />@centerLocation
                            <br />Director: @centerDirector
                            <br />Office Number: @centerOfficeNumber
                            <br />@centerURL
                            <br />@centerDescription
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>
